/* Fondo general */
body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans", sans-serif;
    background: linear-gradient(135deg, #8865e7, #3b46d8);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Contenedor principal */
.edit-container {
    width: 850px;
    background: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 25px;
    backdrop-filter: blur(14px);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
}


/* Icono superior */
.edit-icon {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}


/* Título */
.edit-header h2 {
    font-size: 34px;
    margin: 10px 0;
    font-weight: bold;
    color: black;
}

/* Formulario */
.edit-form {
    width: 90%;
    margin: 0 auto;
}

/* Grupo de campos */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    text-align: left;
}

/* Labels */
.form-label {
    margin-bottom: 6px;
    font-weight: bold;
    color: #000000;
    font-size: 17px;
}

/* Inputs */
.form-control {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    border: none;    
    background: rgba(255, 255, 255, 0.95);
    color: #000;                    
    font-size: 16px;
    outline: none;
    transition: border-color 0.15s, box-shadow 0.15s;
}

.form-control::placeholder {
  color: #666;
  box-shadow: grey;
}


.form-control:focus {
 background: #fff;
 border-color: #000;
 box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.712);
}


/* Botones */
.buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

/* Botón guardar */
.save-btn {
    background-color: #3b46d8;
    color: white;
    padding: 12px 40px;
    border: none;
    font-size: 17px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.25s;
}

.save-btn:hover {
    transform: scale(1.05);
    background-color:  #1f29b1;
}


/* Botón eliminar */
.delete-btn {
    background-color: #3b46d8;
    color: white;
    padding: 12px 35px;
    border: none;
    font-size: 17px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.25s;
}

.delete-btn:hover {
    transform: scale(1.05);
    background-color:  #1f29b1;
}

/* Botón de acción en el footer */
.footer {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 100;
  display: inline-block;
}

.footer .btn {
  background-color: #3b46d8;
  color: #fff;
  padding: 10px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 700;
  transition: background 0.2s, transform 0.12s;
}

.footer .btn:hover {
  background-color: #1f29b1;
  transform: translateY(-2px);
 }