/* Fondo general */
body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans", sans-serif;
    background: linear-gradient(135deg, #8865e7, #3b46d8);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Contenedor principal */
.edit-container {
    width: 850px;
    background: rgba(255, 255, 255, 0.12);
    padding: 40px;
    border-radius: 25px;
    backdrop-filter: blur(14px);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
}


/* Icono superior */
.edit-icon {
    width: 95px;
    height: auto;
    margin-bottom: 10px;
}


/* Título */
.edit-header h2 {
    font-size: 34px;
    margin: 10px 0;
    font-weight: bold;
}

/* Subtítulo */
.edit-sub {
    font-size: 18px;
    margin-bottom: 25px;
    opacity: .9;
}


/* Formulario */
.edit-form {
    width: 90%;
    margin: 0 auto;
}

/* Grupo de campos */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    text-align: left;
}

/* Labels */
.form-label {
    margin-bottom: 6px;
    font-weight: bold;
    color: #ffffff;
    font-size: 17px;
}

/* Inputs */
.form-control {
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    outline: none;
    transition: 0.2s;
}

.form-control:focus {
    background: #fff;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.8);
}


/* Botones */
.buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

/* Botón guardar */
.save-btn {
    background-color: #3b46d8;
    color: white;
    padding: 12px 40px;
    border: none;
    font-size: 17px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.25s;
}

.save-btn:hover {
    transform: scale(1.05);
    background-color:  #1f29b1;
}


/* Botón eliminar */
.delete-btn {
    background-color: #3b46d8;
    color: white;
    padding: 12px 35px;
    border: none;
    font-size: 17px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.25s;
}

.delete-btn:hover {
    transform: scale(1.05);
    background-color:  #1f29b1;
}
