/* --- General --- */
body, html {
  margin: 2;
  padding: 2px;
  background: linear-gradient(135deg, #8865e7, #3b46d8);
  font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  height: 80px;
}

.user-icon {
  font-size: 1.6rem;
  cursor: pointer; 
}

.main-nav {
  display: flex;              
  align-items: center;        
  gap: 30px;                 
}

.user-icon img {
  height: 70px;              
  width: auto;
  display: block;
}

.money-icon img {
  height: 40px;              
  width: auto;
  display: block;
}

.nav-central {
  display: flex;
  justify-content: center; 
  margin: 2rem 0;          
}

.main-nav a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  transition: background 0.3s;
  align-items: center;
}

/*apartado de funcionalidad del icono de perfil */
.user-menu {
  position: relative;
  display: inline-block;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 120%;
  background-color: #36015a;
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
  min-width: 180px;
  z-index: 10;
}

.dropdown li {
  text-align: left;
}

.dropdown li a {
  display: block;
  padding: 0.6rem 1rem;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: background 0.3s;
}

.dropdown li a:hover {
  background-color: rgb(69, 12, 161);
  border-radius: 4px;
}

.hidden {
  display: none;
}

/* Contenedor central */
.container {
  max-width: 720px;
  margin: 0 auto;
  background-color: #ffffff;  
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  animation: fadeInUp 0.6s ease-out;
  border-radius: 12px;
  padding: 25px;
  text-align: center;
}

.container h1 {
  font-size: 35px;
  margin-bottom: 15px;
  display: inline-block;
  padding: 5px 40px;
  color: #1f29b1;
}

.subtitulo {
  font-size: 20px;
  margin-bottom: 8px;
  color: rgb(0, 0, 0);
}

.descripcion {
  font-size: 18px;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

/* Formulario */
.contact-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: rgb(0, 0, 0);
}

.contact-form label {
  margin: 8px 0 4px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  padding-right: 1px;
  border-color: rgb(114, 77, 77);
  border-bottom: 2px solid rgb(99, 95, 95);
  background: transparent;
  color: rgb(0, 0, 0);
  outline: none;
}

.contact-form textarea {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 15px;
  resize: none;
  margin-bottom: 5px;
  width: 100%;
  min-height: 170px;
}

/* Botones */
.acciones {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.acciones button {
  background-color: #3b46d8;
  color: white;
  border: 2.5px solid white;
  padding: 5px 110px;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.acciones button:hover {
  background-color: #1f29b1;
  transform: scale(1.05);
}

.btn-category {
  background-color: #3b46d8;
  color: #fff;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background 0.3s;
}

/* --- Responsividad --- */
@media (max-width: 600px) {
  .logo-container img { height: 80px; }
  .form-titulo { font-size: 1.5rem; }
  .login-card { padding: 1.5rem; }
}

.acciones a{
  text-decoration: none;
  color: white;
}