<!-- templates/menu.html -->
<div th:fragment="sidebar">
    <div class="sidebar">
        <nav class="nav flex-column">
            <a class="nav-link" href="/dashboard">
                <i class="bi bi-grid me-2"></i> Dashboard
            </a>
            <a class="nav-link" href="/usuario">
                <i class="bi bi-person me-2"></i> Usuarios
            </a>
            <a class="nav-link" href="/marca">
                <i class="bi bi-tags me-2"></i> Marca
            </a>
            <a class="nav-link" href="/moto">
                <i class="bi bi-gear me-2"></i> Moto
            </a>
            <a class="nav-link" href="/caracteristicas">
                <i class="bi bi-car-front me-2"></i> Características
            </a>
            <a class="nav-link" href="/categoria">
                <i class="bi bi-bag me-2"></i> Categoría
            </a>
            <a class="nav-link" href="/productos">
                <i class="bi bi-box-seam me-2"></i> Productos
            </a>
            <a class="nav-link" href="/mecanico">
                <i class="bi bi-wrench me-2"></i> Mecánico
            </a>
            <a class="nav-link" href="/tiposervicio">
                <i class="bi bi-tools me-2"></i> Tipo de Servicio
            </a>
            <a class="nav-link" href="/servicio">
                <i class="bi bi-clipboard me-2"></i> Servicio
            </a>
            <a class="nav-link" href="/historial">
                <i class="bi bi-clock-history me-2"></i> Historial
            </a>
            <a class="nav-link" href="/pqrs">
                <i class="bi bi-question-circle me-2"></i> PQRS
            </a>
            <a class="nav-link" href="/cotizacion">
                <i class="bi bi-receipt me-2"></i> Cotización
            </a>
        </nav>
    </div>
</div>